.body
{
    border-width:1px;
    border-color:green;
    background-color:green;
    color:white;
    border-style:solid;
}
.body1 {
    border-width: 1px;
    border-color: green;

    color: black;
    border-style: solid;
}
.body2{
    border-style:solid;
    border-color:green;
    border-width:1px;
}